@import './reset.css';
@import './fonts.css';

:root {
	--container-width: 1270px;
	--container-padding: 15px;
	--secondary: rgba(255, 255, 255, 0.5);
	--secondary-white: rgba(15, 31, 28, 0.5);
}

body {
	font-family: 'Poppins';
	background-color: #F6F6F6;
	color: #0F1F1C;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
	font-style: normal;
}

.none {
	display: none !important;
}

.container {
	max-width: var(--container-width);
	padding: 0 var(--container-padding);
	margin: 0 auto;
}

.container-right {
	padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

.block {
	background-color: aquamarine;
	height: 100px;
}

/* Nav styles start */
.header__nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	padding-top: 44px;
	padding-bottom: 20px;
	transition: .4s ease-in-out;
	z-index: 5;
}

.header__nav--active {
	/* background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%),
				#204434; */
	transition: .4s ease-in-out;
	background: #204434;
	padding-top: 20px;
}

.header__nav-wrap {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.header__nav-item {}

.header__nav-logo {
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	color: white;
}

.nav {}

.nav__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 80px;
}

.nav__link {
	font-weight: 500;
	font-size: 15px;
	line-height: 22px;
	position: relative;
	transition: .2s all;
}

.nav__link-active::before, 
.nav__link:hover::before {
	content: '';
	position: absolute;
	bottom: -6px;
	right: 10px;
	left: 0;
	height: 4px;
	background-color: #C4C4C4;
	border-radius: 100px;
	transition: .2s all;
}

.nav-button {
	display: flex;
	justify-content: space-between;
	gap: 25px;
	align-items: center;
}

.nav-button__link {
	font-weight: 500;
	font-size: 15px;
	line-height: 22px;
	transition: .2s all;
}

.nav-button__link:hover {
	transition: .2s all;
	color: #e6df09;
}

.nav-button__link:active {
	position: relative;
	top: 1px;
}

.nav-button__link-btn {
	background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
	border-radius: 100px;
	padding: 13px 44px;
}
/* Nav styles end */

/* Header styles start */
.header {
	position: relative;
	min-height: 940px;
	background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%),
		#204434;
	padding-top: 179px;
	overflow: hidden;
}

.header::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 96px;
	background-image: url(../img/svg/intro-vector.svg);
	background-size: 100%;
	z-index: 1;
}
.header__row {
	display: flex;
}
.header__content {
	position: relative;
	max-width: 592px;
	z-index: 1;
}

.header__badge {
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	color: white;
	display: inline-block;
	background: rgba(255, 255, 255, 0.25);
	border-radius: 15px;
	padding: 12px 30px;
	margin-bottom: 7px;
}

.header__title {
	font-weight: 400;
	font-size: 55px;
	line-height: 82px;
	color: white;
	margin-bottom: 30px;
}

.header__description {
	font-weight: 700;
	font-size: 25px;
	line-height: 38px;
	color: var(--secondary);
	margin-bottom: 68px;
}

.header__bth {
	font-weight: 600;
	font-size: 25px;
	line-height: 38px;
	background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
	border-radius: 27px;
	padding: 26px 48px;
}
.header__bth:hover {
	transition: .2s all;
	color: #e6df09;
}
.header__bth:active {
	position: relative;
	top: 1px;
}
.header__image-wrap {
	position: relative;
	flex-grow: 1;
}

.header__imgage-girl {
	position: absolute;
	top: -184px;
	right: -103px;
	max-width: unset;
	width: 898px;
	height: 940px;
}
.header__image-el-wrap {
	position: absolute;
	top: 0;
	right: -40px;
}
.header__image-elements {
	width: 823px;
	height: 615px;
	position: relative;
}

.header__image-el1 {
	position: absolute;
	top: 0;
	left: 136px;
}

.header__image-el2 {
	position: absolute;
	top: 56px;
	right: 32px;
}

.header__image-el3 {
	position: absolute;
	left: 0;
	bottom: 0;
}

.header__image-el4 {
	position: absolute;
	right: 0;
	bottom: 0;
}
/* Header styles end */

/* Destinations styles start */
.destinations {
	padding-top: 96px;
	padding-bottom: 100px;
	overflow-x: hidden;
}

.destinations__row {
	display: flex;
	column-gap: 50px;
}

.destinations__content {
	max-width: 456px;
}

.destinations__title {
	margin-top: 24px;
	font-weight: 600;
	font-size: 55px;
	line-height: 82px;
	margin-bottom: 15px;
}

.destinations__title span {
	display: block;
	font-weight: 600;
	font-size: 30px;
	line-height: 45px;
}

.destinations__description {
	font-weight: 500;
	font-size: 25px;
	line-height: 38px;
	color: var(--secondary-white);
	margin-bottom: 60px;
}

.destinations__btn {
	display: inline-block;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
	border-radius: 27px;
	padding: 25px 45px;
	transition: .2s all;
}
.destinations__btn:active {
	position: relative;
	top: 1px;
}
.destinations__btn:hover {
	transition: .2s all;
	color: #e6df09;
}

.destinations__slider {
	width: 1110px;
	flex-shrink: 0;
	/* background-color: #204434; */
	/* height: 402px; */
}
.slider {
	position: relative;
	height: 456px;
}
.slider__item {
	margin-top: 27px;
	width: 335px;
	height: 402px;
	object-fit: cover;
	border-radius: 35px;

	transition: .2s ease-in;
}

.slider .center .slider__item {
	margin-top: 0;
	width: 380px;
	height: 456px;
}

.slider__btn {
	width: 68px;
	height: 68px;
	border-radius: 50px;
	background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #8B8B8B;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider__btn--prev {
	position: absolute;
	left: -27px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
}

.slider__btn--next {
	position: absolute;
	right: -27px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
}

/* Destinations styles end */

/* Review styles start */
.reviews {
	padding-top: 100px;
	padding: 233px;
}

.container {}

.reviews__row {
	display: flex;
	flex-wrap: wrap;
	column-gap: 68px;
}

.reviews__img img {
	max-width: 478px;
	border-radius: 60px;
}

.reviews__content {}

.review {}

.review__question {
	display: inline-block;
	font-weight: 500;
	font-size: 45px;
	line-height: 68px;
	max-width: 565px;
	margin-bottom: 35px;
}

.review__item-wrapper {}

.review__person-wrapper {
	display: flex;
	column-gap: 33px;
	align-items: center;
	margin-bottom: 60px;
}

.review__image-wrapper {
	min-width: 134px;
	min-height: 134px;
	border-radius: 50%;
	background-color: #FFAA99;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.review__info-wrapper {}

.review__title {
	font-weight: 500;
	font-size: 33px;
	line-height: 50px;
}

.review__location {
	font-weight: 400;
	font-size: 25px;
	line-height: 38px;
	color: var(--secondary-white);
}

.review__description {
	max-width: 491px;
	font-weight: 500;
	font-size: 22px;
	line-height: 33px;
	color: var(--secondary-white);
	margin-bottom: 30px;
}

.review__rating {
	max-width: 327px;
}

/* Review styles end */

/* Action styles start */
.action {
}

.container {}

.action__wrap {
	width: 100%;
	padding-top: 116px;
	padding-bottom: 115px;
	border-radius: 60px;
	background-color: #FFFFFF;
	margin-bottom: 135px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.action__title {
	max-width: 519px;
	font-weight: 500;
	font-size: 45px;
	text-align: center;
	line-height: 68px;
	margin-bottom: 30px;
}

.action__description {
	font-weight: 400;
	font-size: 30px;
	line-height: 45px;
	text-align: center;
	color: var(--secondary-white);
	margin-bottom: 60px;
}

.action__btn {
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	padding: 24px 54px;
	background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
	border-radius: 27px;
	transition: .2s all;
}

.action__btn:active {
	position: relative;
	top: 1px;
}

.action__btn:hover {
	transition: .2s all;
	color: #e6df09;
}
/* Action styles end */

/* Subscribe styles start */
.subscribe {
	padding-bottom: 100px;
}

.container {}

.subscribe__title {
	max-width: 494px;
	font-weight: 600;
	font-size: 55px;
	line-height: 82px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 60px;
}

.subscribe__form {
	max-width: 800px;
	background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #C4C4C4;
	border-radius: 35px;
	padding: 12px 15px 12px 46px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	column-gap: 20px;
	align-items: center;
}

.subscribe__field {
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	color: var(--secondary-white);
}
.subscribe__field::placeholder {
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	color: var(--secondary-white);
}

.subscribe__btn {
	background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
	border-radius: 35px;
	padding: 34px 86px;
	font-weight: 600;
	font-size: 25px;
	line-height: 38px;
	text-align: center;
	color: white;
	transition: .2s all;
}
.subscribe__btn:hover{
	color: #e6df09;
	transition: .2s all;
}
.subscribe__btn:active{
	position: relative;
	top: 1px;
}
/* Subscribe styles end */

/* Footer styles start */
.footer {
	padding-top: 10px;
	padding-bottom: 74px;
}
.header__nav--footer {
	position: static;
	color: #0F1F1C;
}
.header__nav-logo--footer {
	color: #FF7C4E;
}
/* Footer styles end */

/* 1262px */
/* 1060px */
/* 991px */
/* 767px */
/* 575px */
