@import './reset.css';
@import './fonts.css';

:root {
	--container-width: 1270px;
	--container-padding: 15px;
	--secondary: rgba(15, 31, 28, 0.5);
}

body {
	font-family: 'Poppins';
	background-color: #F6F6F6;
	color: #0F1F1C;
	
}

.none {
	display: none !important;
}

.container {
	max-width: var(--container-width);
	padding: 0 var(--container-padding);
	margin: 0 auto;
}

.container-right {
	padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

.block {
	background-color: aquamarine;
	height: 100px;
}
